.naviContainer {
  max-width: 1024px;
  margin: 0 auto;
  padding: 14px 24px;
}

.naviContainer .naviWrapper {
  display: flex;
}

.naviContainer .naviWrapper .naviItem {
  padding-right: 16px;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

.naviContainer .newWrap {
  display: flex;
  align-items: center;
}

.newWrap .naviLink {
  font-size: 18px;
  color: #727f88;
}

.newWrap .selected {
  font-weight: 700;
  color: #282b33;
}

.naviContainer .newWrap .new {
  background-color: #1570ff;
  color: #fff;
  font-size: 10px;
  padding: 0px 4px;
  border-radius: 13px;
  margin-left: 4px;
  height: 16px;
  line-height: 16px;
}
